<div class="register-form">
  <h4>Register New Account</h4>
  <form>
    <div class="form-group">
      <input name="username" placeholder="Requested User Name" class="form-control">
    </div>
    <div class="form-group">
      <input name="email" placeholder="email" class="form-control">
    </div>
    <div class="form-group">
      <input name="password" type="password" placeholder="Password" class="form-control">
    </div>
    <div class="form-group">
      <input name="password-again" type="password" placeholder="Password Again" class="form-control">
    </div>
<button class="btn btn-raised btn-primary" routerLink="/sign-in" routerLinkAcrive="active">Cancel</button>
<button class="btn btn-raised btn-success">Register</button>
  </form>

</div>
