<div class="col-md-12">
        <div class="page-header">
          <h1 id="container">Containers</h1>
        </div>
        <div class="bs-component">
          <div class="jumbotron">
            <h1>Jumbotron</h1>

            <p>This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>

            <p><a class="btn btn-primary btn-lg">Learn more</a></p>
          </div>
        <div id="source-button" class="btn btn-primary btn-xs" style="display: none;">&lt; &gt;</div></div>
      </div>

      <div class="row">
      <div class="col-md-4">
        <div class="bs-component">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="least-content">15m</div>
                <h4 class="list-group-item-heading">Tile with a label</h4>

                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="least-content">10m</div>
                <h4 class="list-group-item-heading">Tile with a label</h4>

                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="least-content">8m</div>
                <h4 class="list-group-item-heading">Tile with a label</h4>

                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-component">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="action-secondary"><i class="material-icons">info</i></div>
                <h4 class="list-group-item-heading">Tile with an icon</h4>

                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="action-secondary"><i class="material-icons">info</i></div>
                <h4 class="list-group-item-heading">Tile with an icon</h4>

                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary">
                <i class="material-icons">folder</i>
              </div>
              <div class="row-content">
                <div class="action-secondary"><i class="material-icons">info</i></div>
                <h4 class="list-group-item-heading">Tile with an icon</h4>

                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="bs-component">
          <div class="list-group">
            <div class="list-group-item">
              <div class="row-picture">
                <img class="circle" src="http://lorempixel.com/56/56/people/1" alt="icon">
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">Tile with avatar</h4>

                <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-picture">
                <img class="circle" src="http://lorempixel.com/56/56/people/6" alt="icon">
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">Tile with another avatar</h4>

                <p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
            <div class="list-group-item">
              <div class="row-action-primary checkbox">
                <label><input type="checkbox"><span class="checkbox-material"><span class="check"></span></span></label>
              </div>
              <div class="row-content">
                <h4 class="list-group-item-heading">Tile with a checkbox in it</h4>

                <p class="list-group-item-text">Donec id elit non mi risus varius blandit.</p>
              </div>
            </div>
            <div class="list-group-separator"></div>
          </div>
        </div>
      </div>
    </div>